In [1]:
from os import chdir

In [6]:
chdir('/home/jovyan')

In [3]:
import random 
import pandas as pd

In [9]:
ls -l

total 20
drwxr-xr-x 2 jovyan users 4096 Sep 28 04:28 data/
drwxr-xr-x 2 jovyan  1000 4096 Sep 28 03:37 docker/
-rw------- 1 jovyan  1000  175 Sep 28 03:48 docker-compose.yml
drwxr-xr-x 3 jovyan  1000 4096 Sep 28 04:27 ipynb/
drwxr-xr-x 2 jovyan  1000 4096 Sep 28 03:41 lib/

**CREATE DATA DIRECTORY

In [8]:
!mkdir data

In [11]:
!wget -P data/ \
http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2021-09-28 04:31:04--  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘data/adult.data’

adult.data          100%[===================>]   3.79M   188KB/s    in 22s

2021-09-28 04:31:26 (180 KB/s) - ‘data/adult.data’ saved [3974305/3974305]

**Count the Number of Lines in the File

In [12]:
!wc -l data/adult.data

32562 data/adult.data

**Check to See If the File Has a Header

In [13]:
!head -n 2 data/adult.data

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K

**Load the File Using pandas**

In the next lines of code you load a 10% sample of the dataset using the pandas.read_csv function.

To do this, you first define two variables, number_of_rows and sample_size. The first is the number of rows present in your dataset, the second the number of rows you would like to include in your sample.

You next create a list, rows_to_skip, by using the random.sample function. random.sample takes two arguments: a list from which youwish to sample and a sample size. Here, you create a range of number from 0 to number_ of_rows and request a sample set of size number_of_rows - sample_size. 

The returned sample list is sorted and becomes your rows to skip. This list is passed to pandas.read_ csv at runtime. The effect is that pandas.read_csv will load a set of size sample_size. 

The output of pandas.read_csv is a pandas.DataFrame object. You save this pandas.DataFrame as adult_df. 

You assign a list of column names (obtained from the dataset description at the UCI Machine Learning Repository) to the object attribute adult_df.columns.

In [15]:
number_of_rows = 32562 
sample_size = 3300

rows_to_skip = random.sample(range(number_of_rows), number_of_rows - sample_size)

rows_to_skip.sort()

adult_df = pd.read_csv('data/adult.data', header=None, skiprows=rows_to_skip) 

adult_df.columns = [ 
    'age',
    'workclass',
    'fnlwgt',
    'education',
    'education_num',
    'marital_status',
    'occupation',
    'relationship',
    'race',
    'gender',
    'capital_gain',
    'capital_loss',
    'hours_per_week',
    'native_country',
    'income_label'
]

**display a sample of the loaded DataFrame using adult_df.sample(3).

In [16]:
adult_df.sample(3)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_label
397,30,Private,98733,Some-college,10,Divorced,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
1126,30,Private,185177,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,49,United-States,<=50K
863,38,Private,168407,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,5721,0,44,United-States,<=50K

**Comparing meta-information from UCI’s Machine Learning Repository to the DataFrame data types

At this point, you begin to construct a schema for loading your dataset into a PostgreSQL database. 

In tye following cell, you use Jupyter markdown to annotate the datatypes of the different feature columns as providing by UCI, and then examine the adult_df.dtypes to display the data types of each column in the pandas.DataFrame. 

If the data is properly formatted in the CSV file, then pandas will assign the proper data types to each column. If the pandas.DataFrame data types match the data types in the meta-information providing by UCI, then you should be able to count on the integrity of the data at load time, and be able to use the suggested data types to define your schema. Note that the pandas.DataFrame data types do match the data types in the meta-information and therefore you can use the meta-information as the basis for
your schema without the need for special data handling.

age: **continuous**.

workclass: **class** - Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

fnlwgt: **continuous**.

education: **class** - Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

education-num: **continuous**.

marital-status: **class** - Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.

occupation: **class** - Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.

relationship: **class** - Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

race: **class** - White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

sex: Female, Male.

capital-gain: **continuous**.

capital-loss: **continuous**.

hours-per-week: **continuous**.

native-country: **class** United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [17]:
adult_df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income_label      object
dtype: object